C:\Geeks-Institute\week_5\day_4\Daily-Challenge\node_modules
C:\Geeks-Institute\week_5/day_4/exercises-XP/Exercise5/math-app/node_modules/lodash/fp
C:\Geeks-Institute\week_5\day_4\exercises-XP\Exercise6\npm-beginner\node_modules